<section id="home-product" class="group">
  <div class="container">
    <div class="content">
      <h2>
        <strong>Discover</strong>
        the Client
      </h2>
      <p>Shield yourself from EMF exposure to maximise peace, focus and mental clarity in your high performance
        tech-powered world:</p>
    </div>
    <div class="content">
      <ul class="features">
        <li class="feature">
          <figure>
            <img src="../assets/images/prod-icon1.svg" alt="Icon" class="icon" width="45" height="45" />
          </figure>
          <div class="feature-text">
            <h3>Customized EMF Protection</h3>
            <p>
              The Client provides personalized EMF protection tailored to your unique energy field, ensuring
              comprehensive defense against harmful radiation from electronic devices and
              environmental sources.
            </p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/prod-icon2.svg" alt="Icon" class="icon" width="45" height="45" />
          </figure>
          <div class="feature-text">
            <h3>Optimized for Enhanced Energy</h3>
            <p>
              Harnessing the power of Earth Resonance Technology™, your Shield creates a harmonious bio-field that
              strengthens and stabilizes your energy levels, promoting greater vitality, mental
              clarity and resilience.
            </p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/prod-icon3.svg" alt="Icon" class="icon" width="45" height="45" />
          </figure>
          <div class="feature-text">
            <h3>Refined for 24/7 Energy Support</h3>
            <p>
              Wear your Shield confidently throughout the day, knowing it's working tirelessly to reinforce, stabilize,
              and amplify your energy vibration, offering continuous protection and support for
              your well-being.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-wrapper">

    {% include /snippets/modal.html
    modal="1"
    file="/assets/images/product-modal-01.jpg"
    alt="Satin Cord"
    title="Durable Satin Cord"
    content="Designed as a resilient alternative to traditional chains, our satin cord is chosen for its longevity and
    gentle texture. Soft metals like silver and gold are vulnerable to wear from harder materials, so it’s important to
    select a necklace that protects the pendant’s bail (the loop through which the cord passes). Our satin cord ensures
    your pendant remains in pristine condition for years to come."
    %}

    {% include /snippets/modal.html
    modal="2"
    file="/assets/images/product-modal-02.jpg"
    alt="Secure Tab"
    title="Secure Tabs"
    content="Our meticulously hand-crafted tabs provide a reliable and elegant way to secure the domed shield. Each tab
    is made from premium materials, available in bronze, silver, white gold, or yellow gold, depending on the Shield
    level you select."
    %}

    {% include /snippets/modal.html
    modal="3"
    file="/assets/images/product-modal-03.jpg"
    alt="Domed Shield"
    title="Domed Shield"
    content="Encasing our exclusive crystal matrix, the domed shield comes in two distinctive shapes: circle and heart.
    Each shield is crafted from the finest materials and is available in bronze, silver, white gold, and yellow gold.
    Our Level 5 Shields also offer gemstone options including diamond, ruby, emerald, and sapphire, to support your
    individual needs."
    %}
    <div class="modal-overlay"></div>
  </div>
</section>