<section id="home-problem" class="group">

  <figure class="problem-device-figures">
    <img src="./assets/images/prob-figure-device1.webp" alt="Tablet">
    <img src="./assets/images/prob-figure-device2.webp" alt="Tablet">
    <img src="./assets/images/prob-figure-device3.webp" alt="Tablet">
    <img src="./assets/images/prob-figure-device4.webp" alt="Laptop">
  </figure>
  <div class="container">
    <div class="content">
      <span class="subtitle">The Digital Dilemma:</span>
      <h2>Trying to <strong>escape</strong> the chaos</h2>
      <p>Technology was supposed to make our lives better.
        And in some ways, it does. But at the expense of feeling overwhelmed, drained, and 'buzzing'. And despite
        promises, it often adds more stress than it alleviates:</p>
    </div>

    <div class="content">
      <ul class="features is-cards">
        <li class="feature">
          <figure class="icon-wrapper">
            <img src="../assets/images/prob-icon1.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Stress of Modern Living</h3>
            <p>We're severely outgunned: the world’s brightest minds converge around our electronics. The goal? Extract
              as
              much of our attention and nervous energy as possible.</p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/prob-icon2.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Tech Overwhelm</h3>
            <p>Despite regulatory limits per-device, devices are absolutely everywhere. We feel "plugged in" constantly,
              and our energy levels experience "death by a thousand cuts".</p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/prob-icon3.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Health Risks of EMF Exposure</h3>
            <p>Electromagnetic fields (EMFs) have long carried potential health risks even in small amounts,
              compromising
              our clarity and mental state. Yet the number of devices emitting them keeps going up.</p>
          </div>
        </li>
      </ul>
      <p>Our minds and our focus are under constant EMF attack.<br />
        And 'eliminating tech' simply isn’t possible in our modern lives.<br />
        It’s no wonder many of us long for a reprieve from the digital chaos…</p>
    </div>

  </div>
  <figure class="figure-woman-prob">
    <img src="../../assets/images/woman-prob.webp" alt="Woman covering her face in despair">
  </figure>
</section>