<section id="home-solution" class="group">
  <div class="container">
    <div class="content">
      <span class="subtitle">Finding Harmony:</span>
      <h2>Our digital <strong>sanctuary</strong></h2>
      <p>We don’t need a digital detox. We need a digital shield.
        After all it’s not 'connectedness' we’re trying to avoid. It’s EMFs.
        So we can show up for the day calm, focused, and clear-headed:</p>
    </div>

    <div class="content">

      <ul class="features is-cards">
        <li class="feature">
          <figure>
            <img src="../assets/images/sol-icon1.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Your authentic self, again</h3>
            <p>Remember how creative, energetic and focused you used to feel before your world was filled with tech? We
              can feel that way again when we’re protected from part of our tech that holds us back.</p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/sol-icon2.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Get your inner-peace back</h3>
            <p>We can shield ourselves from exposure that takes our peace away. So we can be free of brain fog, anxiety,
              and that nagging feeling that makes us feel unable to make decisions.</p>
          </div>
        </li>
        <li class="feature">
          <figure>
            <img src="../assets/images/sol-icon3.svg" alt="Icon" class="icon" width="30" height="30">
          </figure>
          <div class="feature-text">
            <h3>Optimize your digital wellbeing</h3>
            <p>Health and tech don’t have to be at odds. We can harmonize health and tech by minimizing harmful EMF
              exposure. Being well-connected should be a healthy thing. With the right shield, it can be.</p>
          </div>
        </li>
      </ul>
      <p>Our minds deserve a sanctuary to thrive and create.<br />
        Especially when the world around us is buzzing with tech. <br />
        So we designed a solution that treats the cause, not the symptoms…</p>
    </div>


  </div>
  <figure class="figure-woman-sol">
    <img src="../../assets/images/woman-sol.webp" alt="Happy Woman">
  </figure>
</section>