<section id="mission">
  <div class="mission-container">
    <div class="mission-content">
      <h2 class="mission-title">Our mission is to empower individuals to thrive in the digital age while staying grounded in the beauty of the natural world.</h2>
      <div class="mission-text">
        <p>High performance individuals are normally faced with a choice: do I include more technological leverage in my life, or retreat for the sake of focus, clarity, and peace? We shouldn’t have to make that choice. We believe technology should enhance our well-being, not diminishes it.</p>
        <p>That’s why we created the Shield: to help us feel the calmness we feel while out in nature, even while surrounded by electronics in the workplace. We want to do the best work of our lives, Without sacrificing peace in our lives.</p>
        <div class="mission-footer">
          <p>That’s why we wear the Shield. Here to support you, — The Shield team</p>
          <div class="mission-figure"></div>
        </div>
      </div>
    </div>
  </div>
</section>
