<section id="home-hero" class="group is-visible">
  <figure class="hero-devices-figure-1">
    <img src="../../assets/images/pi-figure-devices1.webp" alt="Mobile Devices">
  </figure>
  <figure class="hero-devices-figure-2">
    <img src="../../assets/images/pi-figure-devices2.webp" alt="Mobile Devices">
  </figure>
  <div class="container">
    <div class="content">
      <span class="subtitle">Elevate Your Well-being:</span>
      <h1>Rediscover <strong>balance</strong> in the digital age</h1>
      <p>Finally reclaim your energy and elevate your well-being in a modern world charged with electromagnetic
        interruption.</p>
      <a href="#section-quiz" class="button button-primary is-icon">Calculate your EMF exposure
        <img src="../assets/images/icon-arrow.svg" alt="Arrow Icon">
      </a>
    </div>
    <div class="home-scrolldown">
      <img src="../assets/images/icon-scroll.svg" alt="Mouse Icon">
      Scroll down to learn more
    </div>
    {% include blocks/testimonials-carousel.html %}
  </div>
  <figure class="figure-woman-pi">
    <img src="../../assets/images/woman-pi.webp" alt="Woman in yoga position">
  </figure>
</section>