<nav data-close-container="mobnav" data-close-target="mobnav" data-close-class="mob-menu-is-active">
  <div class="container">
    <a href="/" class="global-logo">
      Logo
    </a>
    <div class="nav-items">
      <ul class="nav-items-desktop">
        <li><a href="#home-solution">Energy</a></li>
        <li><a href="#home-product">Shield</a></li>
      </ul>
      <a href="#section-quiz" class="button button-secondary">EMF quiz</a>
    </div>
    <button class="mobile-menu-trigger">
      <span class="label">Menu</span>
      <div class="nav-burger-wrapper">
        <div class="nav-burger">
          <span class="nav-burger-label"></span>
        </div>
      </div>
    </button>
    <div class="nav-items-dropdown">
      <div class="nav-items-dropdown-content">
        <div class="nav-items-dropdown-content-wrapper">
          <ul class="is-mobile">
            <li><a href="#home-solution">Energy</a></li>
            <li><a href="#home-product">Shield</a></li>
          </ul>
          <ul class="col">
            <li><a href="#">Key navigation item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
          </ul>
          <ul class="col">
            <li><a href="#">Key navigation item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
          </ul>
          <ul class="col">
            <li><a href="#">Key navigation item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
          </ul>
          <ul class="col">
            <li><a href="#">Key navigation item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
            <li><a href="#">Subnav item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>