.features {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 28px;

  @media screen and (min-width: $mobile-screen) {
    gap: 40px;
    margin-bottom: 24px;
  }

  &.is-cards {
    max-width: 910px;
    flex-direction: column;
    gap: 18px;

    @media screen and (min-width: $mobile-screen) {
      flex-direction: row;
      gap: 15px;
    }
  }

  & + p {
    margin-bottom: 0;
    color: rgba($color: $white, $alpha: 0.8);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 17px;

  @media screen and (min-width: $mobile-screen) {
    flex-direction: row;
    gap: 30px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.3px;
    color: rgba($color: $white, $alpha: 0.81);
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 10px;

    @media screen and (min-width: $mobile-screen) {
      margin-bottom: 16px;
    }
  }

  figure {
    flex-shrink: 0;
  }

  .is-cards & {
    flex-direction: column;
    gap: 17px;
    padding: 20px;
    border-radius: 20px;
  }
}
