.testimonials {
  position: absolute;
  bottom: 0;
  right: calc(100% - 27px);
  z-index: 1;

  @media screen and (min-width: 396px) {
    right: 348px;
  }

  @media screen and (min-width: $mobile-screen) {
    bottom: 22px;
  }

  @media screen and (min-width: $tablet-screen) {
    bottom: 70px;
  }

  &.is-running {
    .quote {
      animation-play-state: running;
    }
  }

  .quotes {
    display: inline-block;
    height: 213px;
  }

  .quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    height: 100%;
    animation: carousel-animate 20s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    animation-play-state: paused;
    opacity: 0;
    width: 282px;
    height: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
    background-color: rgba(20, 20, 20, 0.8);

    &:nth-child(1) {
      animation-delay: -5s;
    }
    &:nth-child(2) {
      animation-delay: 0s;
    }
    &:nth-child(3) {
      animation-delay: 5s;
    }
    &:last-child {
      animation-delay: -10s;
    }
  }

  .quote-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;

    .quote-author-meta-data {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .star-reviews {
    color: rgba($color: $white, $alpha: 0.8);
  }
}
