<div class="fig-container">
  <figure class="fig-woman">
    <img src="../../assets/images/woman-pi.webp" alt="Woman standing in yoga position" class="pi-fig">
    <img src="../../assets/images/woman-pi2prob.webp" alt="Woman falling down" class="pi-to-prob-fig">
    <img src="../../assets/images/woman-prob2pi.webp" alt="Woman rising up" class="prob-to-pi-fig">
    <img src="../../assets/images/woman-prob.webp" alt="Woman in despair" class="prob-fig">
    <img src="../../assets/images/woman-prob2sol.webp" alt="Woman falling down" class="prob-to-sol-fig">
    <img src="../../assets/images/woman-sol2prob.webp" alt="Woman rising up" class="sol-to-prob-fig">
    <img src="../../assets/images/woman-sol.webp" alt="Woman floating in the air" class="sol-fig">
  </figure>
</div>