<div class="quiz-dialog-container">
  <div class="speech-bubble quiz-question-step-1">
    <p>
      Do you experience fatigue or low energy levels?
    </p>
    <span>(Select an option then press Continue)</span>
  </div>
  <div class="quiz-answer quiz-answer-step-1"></div>

  <div class="speech-bubble quiz-question-step-2">
    <p>
      Do you experience agitation, frustration, or low-grade anxiety?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-2"></div>

  <div class="speech-bubble quiz-question-step-3">
    <p>
      Do you have difficulty responding calmly to challenges or annoying situations/people?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-3"></div>

  <div class="speech-bubble quiz-question-step-4">
    <p>
      Do you seem affected by the negativity, pain or moodiness of people around you?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-4"></div>

  <div class="speech-bubble quiz-question-step-5">
    <p>
      Do you get persistent or frequent headaches?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-5"></div>

  <div class="speech-bubble quiz-question-step-6">
    <p>
      Do you get mysterious, unexplained aches and pains?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-6"></div>

  <div class="speech-bubble quiz-question-step-7">
    <p>
      How much do you know about where Electromagnetic radiation sources come from in your home, work, school or
      community?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-7"></div>

  <div class="speech-bubble quiz-question-step-8">
    <p>
      Which of these do you notice in environments you frequently spend time in?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-8"></div>

  <div class="speech-bubble quiz-question-step-9">
    <p>
      How much do you travel by air?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-9"></div>

  <div class="speech-bubble quiz-question-step-10">
    <p>
      Have you ever been diagnosed with ADD or ADHD?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-10"></div>

  <div class="speech-bubble quiz-question-step-11">
    <p>
      Based on what you shared, I have some recommendations for improving your <span class="custom-term">XYZ ABC</span>.
      Would you like to see them?
    </p>
  </div>
  <div class="quiz-answer quiz-answer-step-11">Yes Please</div>

  <div class="speech-bubble quiz-question-step-12">
    <p>
      OK! Here’s what I’ve got for you based on your unique selections:
    </p>
  </div>
</div>