<div class="content testimonials">
  <ul class="quotes">
    <li class="quote">
      <blockquote class="quote-text">"I had been suffering for over 2 years when I finally figured out what was
        causing
        my
        multitude of health problems. Your products have given me my life back."</blockquote>
      <div class="quote-author">
        <div class="quote-author-meta-data">
          <cite class="quote-author-name">Laura, 2019</cite>
          <div class="star-reviews">★★★★★</div>
        </div>
      </div>
    </li>

    <li class="quote">
      <blockquote class="quote-text">"Keeps me focused and my small business is more successful than I ever imagined.
        The
        shield has been an important part of that journey."</blockquote>
      <div class="quote-author">
        <div class="quote-author-meta-data">
          <cite class="quote-author-name">Stephen, 2017</cite>
          <div class="star-reviews" label="5-star rating">★★★★★</div>
        </div>
      </div>
    </li>

    <li class="quote">
      <blockquote class="quote-text">"Eliminated headaches, fainting spells and restless sleep for my daughter. LOVE
        the
        difference these have made in our daily lives."</blockquote>
      <div class="quote-author">
        <div class="quote-author-meta-data">
          <cite class="quote-author-name">Rebecca, 2015</cite>
          <div class="star-reviews">★★★★★</div>
        </div>
      </div>
    </li>

    <li class="quote">
      <blockquote class="quote-text">"I am more focused. I have been getting more work done and am stronger with my
        follow-up, which is very important in my job. Helps me deal with negativity at work."</blockquote>
      <div class="quote-author">
        <div class="quote-author-meta-data">
          <cite class="quote-author-name">Dee, 2017</cite>
          <div class="star-reviews">★★★★★</div>
        </div>
      </div>
    </li>
  </ul>
</div>