html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  padding: 10px 0 0;

  @media screen and (min-width: $tablet-screen) {
    padding: 20px 0 0;
  }
}

header,
main {
  max-width: calc($site-max-width + 20px);
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: calc($content-max-width + 20px);
  padding: 0 10px;
  margin: 0 auto;

  .group & {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }

  &.is-visible {
    opacity: 1;
  }
}

.group {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;

  &#home-hero,
  &#home-solution {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      pointer-events: none;

      @media screen and (min-width: $mobile-screen) {
        content: none;
      }
    }
  }

  &#home-solution {
    &::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &#home-hero {
    &::before {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 100%);
    }
  }
}
