.module-modal {
  position: absolute;
  top: 0;
  right: 70%;
  z-index: 1120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &-1,
  &-2,
  &-3 {
    right: 50%;
    transform: translateX(50%);

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      transform: unset;
    }
  }

  &-1 {
    top: 100px;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      right: 70%;
      top: 52px;
    }
  }

  &-2 {
    top: 180px;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      right: 82%;
      top: 270px;
    }
  }

  &-3 {
    top: 290px;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      right: 46%;
      top: 551px;
    }
  }

  .content {
    width: 90vw;
    position: relative;
    max-width: 550px;
    z-index: 1120;
    padding: 20px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    opacity: 0;

    @media screen and (min-width: $mobile-screen) {
      padding: 40px;
    }

    figure {
      border-radius: 10px;
      margin-bottom: 15px;

      @media screen and (min-width: $mobile-screen) {
        margin-bottom: 30px;
      }

      img {
        border-radius: 10px;
        vertical-align: top;
      }
    }
  }
}

.modal-overlay {
  transition: opacity 0.275s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1110;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(31, 28, 24, 0.7), rgba(31, 28, 24, 0.95));
  opacity: 0;
}

.modal-trigger {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $white;
  background-color: $black;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35), 0 4px 30px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.275s ease-in-out;
  z-index: 1120;

  &-1 {
    top: 40px;
    left: 40%;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      left: 31%;
      top: 150px;
    }
  }

  &-2 {
    top: 120px;
    left: 33%;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      left: 19%;
      top: 391px;
    }
  }

  &-3 {
    top: 230px;
    left: 49%;

    @media screen and (min-width: calc($laptop-screen - 1px)) {
      left: 55%;
      top: 671px;
    }
  }

  &:hover {
    transform: scale(1.03);
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: $white;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;

    &.vertical {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &.horizontal {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &.is-clicked {
    & + .module-modal {
      pointer-events: auto;

      .content {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .vertical {
      transform: translate(-50%, -50%) rotate(135deg);
    }
    .horizontal {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &.not-clicked {
    z-index: 1;
  }
}

.group:has(.is-clicked) .modal-overlay {
  pointer-events: auto;
  opacity: 1;
}
