header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1130;

  body:has(.modal-trigger.is-clicked) & {
    z-index: 1000;
  }

  @media screen and (min-width: $tablet-screen) {
    top: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
}

nav {
  @media screen and (min-width: $tablet-screen) {
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background-image: linear-gradient(to bottom, rgba(39, 33, 30, 0.1), rgba(39, 33, 30, 0.1)), linear-gradient(to bottom, rgba(34, 21, 3, 0.4), rgba(34, 21, 3, 0.3), rgba(34, 21, 3, 0.14), rgba(34, 21, 3, 0));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &.mob-menu-is-active {
    @media screen and (min-width: $tablet-screen) {
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
    }

    .nav-items-dropdown {
      grid-template-rows: 1fr;
    }
  }

  .container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 62px;

    @media screen and (min-width: $tablet-screen) {
      height: auto;
    }
  }
}

.global-logo {
  display: inline-flex;
  align-items: center;
  max-width: 99px;

  @media screen and (min-width: 330px) {
    max-width: 124px;
  }

  @media screen and (min-width: $tablet-screen) {
    padding-bottom: 10px;
  }
}

.nav-items {
  display: flex;
  gap: 14px;
  grid-column: 4 / 5;
  background-color: $white;
  border-radius: 10px;
  padding: 6px 14px 6px 6px;
  transition: border-radius 0.4s ease;
  z-index: 2;
  width: 161px;
  position: fixed;
  top: 20px;
  right: 20px;

  @media screen and (min-width: $tablet-screen) {
    position: static;
  }

  &::before {
    content: '';
    display: block;
    width: 0px;
    height: 52px;
    top: 20px;
    right: 30px;
    background-color: $white;
    z-index: -1;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-radius 0.4s ease, width 0.4s ease;
    position: fixed;
  }

  .mob-menu-is-active & {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      border-bottom-left-radius: 0;
      width: calc(100% - 91px);

      @media screen and (min-width: 330px) {
        width: calc(100% - 101px);
      }
    }
  }

  @media screen and (min-width: $tablet-screen) {
    background-color: transparent;
    border-radius: 0;
    justify-content: center;
    gap: 40px;
    padding: 0 0 10px;
    grid-column: auto;
    width: auto;

    &::before {
      content: none;
    }
  }
}

.nav-items-desktop {
  display: none;

  @media screen and (min-width: $tablet-screen) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.nav-items-dropdown {
  grid-column: span 4;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.4s ease;
  background-color: $white;
  max-width: calc(100% - 81px);
  width: 100%;
  justify-self: end;
  border-radius: 10px;
  z-index: 1;
  max-height: 80vh;
  position: fixed;
  top: 20px;
  right: 20px;

  @media screen and (min-width: 330px) {
    max-width: calc(100% - 91px);
  }

  @media screen and (min-width: $tablet-screen) {
    background-color: transparent;
    max-width: unset;
    border-radius: unset;
    position: static;
    overflow-y: hidden;
    max-height: unset;
  }

  .is-mobile {
    display: inherit;
    padding-right: 50px;

    @media screen and (min-width: $tablet-screen) {
      display: none;
    }
  }

  .nav-items-dropdown-content {
    min-height: 0;
  }

  .nav-items-dropdown-content-wrapper {
    text-align: right;
    padding-top: 63px;
    overflow-y: auto;
    max-height: 100%;

    @media screen and (min-width: $tablet-screen) {
      overflow-y: hidden;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 54px;
      text-align: left;
      padding: 32px 0 48px;
      border-top: solid 1px rgba(255, 255, 255, 0.3);
    }

    .is-mobile {
      li:last-child {
        margin-bottom: 12px;
      }
    }

    .col {
      padding: 20px 0 16px;
      padding-right: 50px;
      background-color: $gray-3;

      &:nth-child(odd) {
        background-color: $gray-4;
      }

      @media screen and (min-width: $tablet-screen) {
        padding: 0;
        background-color: transparent;

        &:nth-child(odd) {
          background-color: transparent;
        }
      }

      li {
        margin-bottom: 4px;

        @media screen and (min-width: $tablet-screen) {
          margin-bottom: 11px;
        }

        &:first-child {
          margin-bottom: 4px;

          @media screen and (min-width: $tablet-screen) {
            margin-bottom: 5px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
