//Fonts
$base-font-family: 'Inter';
$heading-strong-family: 'Cabrito';

// Colors
$black: #000;
$black-2: #383838;
$black-3: #41423e;
$black-4: #332b28;
$black-5: #3a312c;
$black-6: #241e1c;
$black-7: #16201d;
$gray: #686961;
$gray-2: #d2d0cc;
$gray-3: #f4f3f2;
$gray-4: #ebeae9;
$gray-5: #9f9999;
$gray-6: #d9d9d9;
$text-shadow: #362e25;
$white: #fff;
$blue: #449aa6;
$green: #9ea076;
$green-2: #919369;
$green-3: #4caf9d;

// Layout
$site-max-width: 1280px;
$content-max-width: 1160px;

//Breakpoints
$small-screen: 480px;
$mobile-screen: 640px;
$tablet-screen: 900px;
$laptop-screen: 1200px;
